@media screen and (max-width: 600px){
	a.logo-footer img {
		padding: 5px;
	}
	.logo-zonacardio{
		margin-top: 15px;
	}
	.logos-footer{
	    width: 100%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.allmode-img {
		width: 100%!important;
	}
}
.carousel-inner{
	max-height:390px;
	overflow:hidden;
}
.allmode-img {
    height: 150px;
	width: 100%;
    overflow: hidden;
    text-align: center;
}

.grupo-enlaces div {
    padding: 0.3em;
    font-weight: bold;
}
.grupo-enlaces div a{
	color: #84a6bc;
	z-index: 10;
}
.grupo-enlaces div a:hover{
	color: blue;
}
/*
.logos-footer {
    float: left;
}
*/
section#interes {
	--z-index: -10 !important;
}
.interesCol{
	--z-index: 10 !important;
}
section#contenido {
    z-index: 10;
}

.gs-webResult {
                width: 100% !important;
                }
.gs-title, .gs-snippet {
                font-family: Montserrat, sans-serif !important;
                }
.distribuidor{z-index:10;}

.distribuidor p a{font-weight: bold; color: #84a6bc; }
.distribuidor p a:hover{color: blue; }
.distribuidor li a{font-weight: bold; color: #84a6bc; }
.distribuidor li a:hover{color: blue; }
body{ background: #fff;  }
body, body *{ font-family: Montserrat, sans-serif !important; }
body .container{ width: 1220px; padding:0; max-width: 95%; box-sizing: border-box; }
a{ outline: none !important; }
a:hover, a:focus{ text-decoration: none !important; cursor:pointer; }
h1, h2, h3{ text-transform: uppercase;  }
.row{ margin:0; }
#header{ display: block; margin: auto; width: 100%; box-sizing: border-box; height: auto; margin-top: 50px; box-sizing: border-box; padding: 0 10px; }
#header #titulo{ box-sizing: border-box; padding: 15px 0; width: 600px; float: left; max-width: 95%; }
#header #titulo h1{ width: 350px; max-width: 100%; border-left: solid 2px #8e1130; margin: 0 0 0 60px; float: left; border-right: solid 2px #8e1130; box-sizing: border-box; padding: 15px 35px; font-weight: bold; font-size: 40px; color: #2e2556; height: 110px; }
#header #titulo img{ height: 110px; display: inline-block; margin-left: 30px; }
#top-bar{ background: #221c35; color: #fff; display: block; min-height: 32px; width: 100%; max-width: 100%; line-height: 32px; box-sizing: border-box; padding: 0 10px; font-family: Montserrat, sans-serif; text-transform: uppercase; font-size: 12px; margin: 0 auto; }
#top-bar a{ color: #fff; }
--.nivel-2 #top-bar{ background: #a41e34;  }

#top-bar #idiomas{ float: right; min-height: 32px; line-height: 32px; display: block; float: right; text-align: right; margin:0 0 0 20px; }
#top-bar #idiomas li{ float:left; margin:0;  }
#top-bar #idiomas li a{ text-transform: uppercase; color: #fff; border-right: solid thin #fff; padding: 0 5px; opacity: 0.8; }
#top-bar #idiomas li a:hover{ opacity:1; }
#top-bar #idiomas li.activo a{ font-weight: bold; opacity:1;  }
#top-bar #idiomas li:last-child a{ border: none;  }

#top-bar #buscar{ display: block; float: right; min-height:32px; line-height:32px;  }
#top-bar #buscar .boton-buscar{ display: block; float: left; height: 32px; width: 32px; margin-right:5px; background:url(../images/boton-buscar.png) top center no-repeat; }
#top-bar #buscar input[type=text]{ height: 20px; width: 110px; line-height: 20px; color: #111; padding: 0 10px; }

#logos{ display: block; min-height: 135px; width: 1200px; max-width: 100%;  margin: auto; }
--.nivel-2 #logos{ background: url(../images/fondo-cabecera.jpg) top center no-repeat; }
#header h2.seccion {  color: #fff;  left: 0;  line-height: 40px;  position: static;  text-align: center;  width: 100%;  margin-top: -85px; }
#logos #logo{ display: block; float: left; height: 135px;  }
#logos #logo-ceia3{ display: block; float: right; height: 135px;  }
#logos #logo-ceia3 a{ float: right; }


/* Logo cabecera FEDER */
#logo-ceia3 img {
    height: auto !important;
    padding-top: 20px; }


#logos img{ height: 135px; width: auto; }

#menu-principal{ width: 100%;  margin-top:5px; border-top: solid 2px #a41e34; border-bottom: solid 3px #a41e34; min-height: 26px; height: auto; line-height: 26px; margin:5px auto 20px; font-family: Montserrat, sans-serif; clear:both; }
.nivel-2 #menu-principal{ border-top: solid 2px #221c35; border-bottom: solid 3px #221c35; }
#menu-principal ul li{ float: left; margin-right: 42px; }
#menu-principal ul li:last-child{ margin:0;  }
#menu-principal ul li a{ text-transform: uppercase; font-size: 12px; color: #575756; }
#menu-principal ul li.activo > a{ color: #db912f !important; }
#menu-principal ul li:hover a{ color: #000; }
#menu-principal ul li.home{ margin-right: 14px; padding-left:5px;  }
.nivel-2 #menu-principal{ margin:5px auto 10px;  }

#menu-principal > ul > li > ul{background-color:#fff;position:absolute;padding:10px 10px 10px;height:0;opacity:0;z-index:1050;overflow:hidden;-webkit-transition:all 0.35s ease-in;-moz-transition:all 0.35s ease-in;-o-transition:all 0.35s ease-in;transition:all 0.35s ease-in; box-shadow: 0px 0px 8px #444; max-width: 500px; overflow: visible; }
#menu-principal > ul > li > ul { display: none !important; }
#menu-principal > ul > li:hover > ul { display: block !important; }
#menu-principal > ul > li > ul li{min-width:0;/*268px;*/  clear: none; border-bottom: solid thin #ccc; width: 100%;  }
#menu-principal > ul > li > ul li:last-child{ border: none;  }
#menu-principal > ul > li > ul li > a { border: none;  clear: none;  color: #fff;  display: block;  font-size: 13px;  font-weight: bold;  padding: 4px;  text-align: left;
  text-transform: none; color: #6F6F6E; }
#menu-principal > ul > li > ul li > a:hover, #menu-superior > div > ul > li > ul li.current-menu-item > a, #menu-superior > div > ul > li > ul li.current-menu-ancestor > a{color:#F0B600; opacity: 1 !important; background:#fff;border-bottom-color:#1C1C1B;text-decoration:none;}
#menu-superior > div > ul > li > ul > li > ul{display:none;width:85%;position:absolute;margin:-34px 0 0 85%;background-color:#FFF;border:1px solid #E8E8E8;z-index:1075;padding:0 10px 10px; z-index:9999; }
#menu-principal > ul > li > ul > li > ul li a{font-size:12px !important;padding:8px !important;}
.submenu-button{ cursor: pointer; }
#menu-principal > ul > li > ul > li > ul li a{ padding: 2px 8px !important;  }

@media only screen and (min-width:1200px){
	#menu-principal > ul > li > ul > li > ul li ul{display:none !important;}
	#menu-principal > ul > li > ul > li > ul{ display: none !important; margin-left:20px;  }
	#menu-principal > ul > li > ul > li:hover > ul{ display: block !important;  position: absolute; margin-left: 60px; background: #fff; box-shadow: 0px 0px 8px #444; }
	#menu-principal > ul > li > ul > li:hover{ height: auto; display: block; }
	#menu-principal > ul > li:hover > ul{height:auto;opacity:1;border:1px solid #E8E8E8;}
}

#slider{ display: block; width: 100%; height: auto;   padding: 0 10px; box-sizing: border-box; }
section .slide{ display: block; width: 100%; height: auto;   }
section .slide img{ width: 100%; height: auto; }

#breadcrumb{ display: block; width: 100%; height: auto; min-height: 30px;  padding: 0 10px; box-sizing: border-box; margin-bottom:10px;  }
#breadcrumb #ruta{ display: block; width: 100%; height: auto; min-height: 30px; color: #9C9B9B;  font-size:10px; }
#breadcrumb #ruta a, #breadcrumb #ruta span{ color: #9C9B9B; font-weight: normal; font-size:10px; }

#destacados{ display: block; width: 100%; height: auto; min-height: 150px; margin-top: 20px;  }
#destacados .item{  box-sizing: border-box; height: auto; padding: 0 10px; margin-bottom:20px; }
#destacados .item img{ width: 100%; height: auto; }
#destacados .item .titulo {  background: #a41e34;  color: #fff;  display: block;  float: left;  font-size: 12px;  height: 20px;  line-height: 20px;  margin-left: 10px;  margin-top: -30px;  padding: 0 5px;  position: absolute;  text-transform: uppercase; }
#destacados .item:nth-child(2n) .titulo{ background: #221c35; }
.nivel-3 #destacados .item .titulo, .nivel-3 #destacados .item:nth-child(2n) .titulo{ background: #7BAF4D; }

#interes{ display: block;  height: auto; min-height: 70px;  }
#interes .item{ box-sizing: border-box; height: auto; padding: 0 10px; margin-bottom:20px;   }
#interes .item a{ display: block; width: 100%; height: 70px; background: #f00; padding: 15px 20px; box-sizing: border-box; color: #fff; }
/*
#interes .item a span {  bottom: 0;  box-sizing: border-box;  font-size: 20px;  font-weight: bold;  left: 0;  line-height: 20px;  max-width: 100%;  padding: 15px 30px;  position: absolute;  right: 0;  width: 100%; }
*/
#interes .item a span {  bottom: 0;  box-sizing: border-box;  font-size: 20px;  left: 0;  line-height: 20px;  max-width: 100%;  padding: 15px 30px;  position: absolute;  right: 0;  width: 100%; }

#noticias h3{ padding-left:10px; font-size: 18px; color: #575756; margin-top: 0; font-weight: bold; }
#interes h3{ padding-left:10px; font-size: 18px; color: #575756; margin-top: 0; font-weight: bold; }

#interes .item{ box-sizing: border-box; height: auto; padding: 0 10px; margin-bottom:20px;   }
#interes .item a{ display: block; width: 100%; height: 70px; background: #f00; padding: 15px 20px; box-sizing: border-box; color: #fff; }
/*
#interes .item a span {  bottom: 0;  box-sizing: border-box;  font-size: 20px;  font-weight: bold;  left: 0;  line-height: 20px;  max-width: 100%;  padding: 15px 30px;  position: absolute;  right: 0;  width: 100%; }
*/
#interes .item a span {  bottom: 0;  box-sizing: border-box;  font-size: 20px; left: 0;  line-height: 20px;  max-width: 100%;  padding: 15px 30px;  position: absolute;  right: 0;  width: 100%; }

#interes.col-lg-2 .item{  box-sizing: border-box; height: auto; padding: 0; margin-bottom:20px; float: left; clear: both; display: block; width: 100%;  }
#interes.col-lg-2 .item a{ display: block; width: 100%; height: 70px; background: #f00; padding: 15px 20px; box-sizing: border-box; color: #fff; }

/*
#interes.col-lg-2 .item a span {  bottom: 0;  box-sizing: border-box;  font-size: 19px;  font-weight: bold;  left: 0;  line-height: 20px;  max-width: 100%;  padding: 15px 30px;  position: absolute;  right: 0;  width: 100%; }
*/
#interes.col-lg-2 .item a span {  bottom: 0;  box-sizing: border-box;  font-size: 19px;  left: 0;  line-height: 20px;  max-width: 100%;  padding: 15px 30px;  position: absolute;  right: 0;  width: 100%; }

#interes.col-lg-2 h3 {  color: #575756;  font-size: 18px;  font-weight: bold;  margin-top: 0;  }

.nivel-2 .col-lg-5{ padding: 0 20px; font-family: 'Lato', sans-serif !important; }
#principal{ box-sizing: border-box; padding: 0; }

.nivel-2 #contenido-texto.col-lg-6 {  border-right: thin solid #a0a0a0; min-height: 550px; font-family: 'Lato', sans-serif; padding: 0 20px 0 0px; }
.nivel-2 #contenido-texto.col-lg-6 p{ font-family: 'Lato', sans-serif !important; font-size: 14px;  }
.nivel-2 #contenido-texto.col-lg-6 p{ font-family: 'Lato', sans-serif !important; font-size: 14px;  }
.nivel-2 h1, #contenido-texto.col-lg-6 h1{ font-size: 20px; margin-top:0; font-weight: bold; padding-bottom:20px; }

.nivel-2 #contenido-video.col-lg-6 {   padding: 25px 30px 0; text-align:center;  }
.nivel-2 #contenido-video.col-lg-6 img{ max-width: 100%; }
.nivel-2 #contenido-video.col-lg-6 iframe{ max-width: 100%; margin-bottom: 20px; }
/*
#interes .item:nth-child(6n+1) a{ background: rgba(219,145,48,1); background: -ms-linear-gradient(left, rgba(219,145,48,1) 0%, rgba(201,107,49,1) 100%); background: linear-gradient(to right, rgba(219,145,48,1) 0%, rgba(201,107,49,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db912f', endColorstr='#c96b31', GradientType=1 );  }
#interes .item:nth-child(6n+2) a{ background: rgba(201,107,49,1); background: -ms-linear-gradient(left, rgba(201,107,49,1) 0%, rgba(182,69,51,1) 100%); background: linear-gradient(to right, rgba(201,107,49,1) 0%, rgba(182,69,51,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c96b31', endColorstr='#b64533', GradientType=1 ); }
#interes .item:nth-child(6n+3) a{ background: rgba(182,69,51,1); background: -ms-linear-gradient(left, rgba(182,69,51,1) 0%, rgba(164,31,53,1) 100%); background: linear-gradient(to right, rgba(182,69,51,1) 0%, rgba(164,31,53,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b64533', endColorstr='#a41e34', GradientType=1 );  }
#interes .item:nth-child(6n+4) a{ background: rgba(164,31,53,1); background: -ms-linear-gradient(left, rgba(164,31,53,1) 0%, rgba(98,29,53,1) 100%); background: linear-gradient(to right, rgba(164,31,53,1) 0%, rgba(98,29,53,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a41e34', endColorstr='#621d35', GradientType=1 ); }
#interes .item:nth-child(6n+5) a{ background: rgba(98,29,53,1); background: -ms-linear-gradient(left, rgba(98,29,53,1) 0%, rgba(35,28,52,1) 100%); background: linear-gradient(to right, rgba(98,29,53,1) 0%, rgba(35,28,52,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#621d35', endColorstr='#221c35', GradientType=1 ); }
#interes .item:nth-child(6n) a{ background: rgba(35,28,52,1); background: -ms-linear-gradient(left, rgba(35,28,52,1) 0%, rgba(219,145,48,1) 100%); background: linear-gradient(to right, rgba(35,28,52,1) 0%, rgba(219,145,48,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#221c35', endColorstr='#db912f', GradientType=1 );  }
*/

#interes .item:nth-child(6n) a{background-color: #e09f4e;}
#interes .item:nth-child(6n+1) a{background-color: #e09f4e;}
#interes .item:nth-child(6n+2) a{background-color: #e09f4e;}
#interes .item:nth-child(6n+3) a{background-color: #e09f4e;}
#interes .item:nth-child(6n+4) a{background-color: #e09f4e;}
#interes .item:nth-child(6n+5) a{background-color: #e09f4e;}

#footer{ display: block; width: 100%; max-width: 100%; min-height: 60px; line-height: 60px;  height: auto; box-sizing: border-box; padding: 0 10px; margin: 0 auto 50px; box-sizing: border-box; min-height: 60px; line-height: 60px;  }
#footer #footer-bar{  padding: 0 10px; width: 100%; background: #9c9b9b;  text-align: center;}
#footer #menu-footer{ color: #fff; width: auto; display: inline-block; }

#footer #menu-footer a{ color: #fff; display: inline-block;  font-size: 12px; }
#footer #logo-footer{ float: right; margin-right:10px; }

#footer #logo-zonacardio{ float: right; margin-right:10px; }


#footer .redes-sociales{ 
/*float:right; display: block; */
text-align: left;
display:inline-block;
min-height:24px; width: auto; padding: 20px 0 0;  }
#footer .redes-sociales li {  display: block;  
float: left;  
padding: 0 3px; }
#footer .redes-sociales li a, .icon-facebook, .icon-twitter, .icon-linkedin, .icon-flickr, .icon-youtube, .icon-instagram{ display: block; height: 24px; width: 24px; }
.icon-facebook{ background: url(../images/icon-facebook.png) top center no-repeat; }
.icon-twitter{ background: url(../images/icon-twitter.png) top center no-repeat; }
.icon-instagram{ background: url(../images/icon-instagram.png) top center no-repeat; }
.icon-linkedin{ background: url(../images/icon-linkedin.png) top center no-repeat; }
.icon-flickr{ background: url(../images/icon-flickr.png) top center no-repeat; }
.icon-rss{ background: url(../images/icon-rss.png) top center no-repeat; }
.icon-youtube{ background: url(../images/icon-youtube.png) top center no-repeat; }
.icon-instagram{ background: url(../images/icon-instagram.png) top center no-repeat; }



#menu-button{ font-family: Montserrat,sans-serif !important; text-transform: uppercase; color: #000; cursor: pointer;  text-transform: uppercase;   background: url(../images/boton-menu.png) right center no-repeat; display: none; }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { padding-left: 10px;  padding-right: 10px;  }


#recursos .item {  box-sizing: border-box;  height: auto;  margin-bottom: 10px;  padding: 0 10px; }

#recursos .item a {  background: #f00 none repeat scroll 0 0;  box-sizing: border-box;  color: #fff;  display: block;  min-height: 50px;   height: auto;  line-height: 20px;   padding: 15px 20px;  width: 100%; }

#recursos .item:nth-child(9n+1) a, #recursos .item:nth-child(9n+2) a, #recursos .item:nth-child(9n+3) a{ background: #7baf4d; }
#recursos .item:nth-child(9n+4) a, #recursos .item:nth-child(9n+5) a, #recursos .item:nth-child(9n+6) a{ background: #5a9441; }
#recursos .item:nth-child(9n+7) a, #recursos .item:nth-child(9n+8) a, #recursos .item:nth-child(9n) a{ background: #456f38; }

#recursos h3{ padding-left:10px; font-size: 13px; font-weight: bold; color: #575757;  }

#sidebar #servicios-recursos {
  box-sizing: border-box;  color: #fff;  display: block;  font-size: 11px;  line-height: normal;  min-height: 0;  padding: 15px 15px 15px 15px;  text-transform: uppercase;  width: 100%; }
  
#sidebar #servicios-recursos .icon-info{  background: url(../images/icon-info.png) center center no-repeat; height: 30px; width: 40px; display: block; float: left; margin-right: 5px; }

#sidebar .block{ margin-bottom:20px; }
#sidebar .block h3{ margin-top:0; }
#sidebar .block h3, #sidebar #servicios-recursos { background: rgba(46,37,86,1);
	background: -o-linear-gradient(left, rgba(46,37,86,1) 0%, rgba(141,17,48,1) 100%);
	background: -ms-linear-gradient(left, rgba(46,37,86,1) 0%, rgba(141,17,48,1) 100%);
	background: linear-gradient(to right, rgba(46,37,86,1) 0%, rgba(141,17,48,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2556', endColorstr='#8d1130', GradientType=1 ); }
	
#sidebar .block h3 {  color: #fff;  font-size: 13px;  line-height: 20px;  padding: 5px 10px; }
#sidebar #block-info h3{ margin-bottom: 0;  }
#sidebar #block-info .item { border-bottom: solid thin #a1a0a0; padding:8px 0; }
#sidebar #block-info .item .titulo{ color: #2E2556; font-weight: bold; font-size: 12px; padding-bottom:5px;  } 
#sidebar #block-info .item .contenido{ font-size:13px; font-family: 'Lato', sans-serif !important; line-height: normal; color: #3E3E3D; } 
#sidebar #block-info .item .leer-mas{ font-size: 13px; float: right; clear: both; margin-right: 10px; font-style: italic; color: #6E6E6E; font-family: 'Lato', sans-serif !important; display: block; }


#sidebar .block-nav { margin-bottom:20px; }
#sidebar .block-nav h3{ margin-bottom:0; }
#sidebar .block-nav nav .item{ border-bottom: solid thin #ccc; padding: 4.7px 10px; }
#sidebar .block-nav nav .item a{ color: #585757; text-transform: uppercase; box-sizing: border-box; font-size: 11px;   }

#sidebar .block-map img{ width: 100%; height: auto; }
#content{ padding:0;  }

#contenido{ padding:20px 20px 20px 10px; }
#contenido, #contenido p, #contenido li{ font-family: 'Lato' !important; line-height: 20px; }
#contenido > ul{ padding-left:20px; }
#contenido > ul, #contenido div > ul, #contenido > ol, #contenido div > ol {	margin-top: 20px; 	margin-bottom: 20px; }
#contenido ul > li { list-style-type: disc;	padding-left: 5px;	margin-bottom: 10px;	margin-left: 15px; }
#contenido ul > li ul > li {	list-style-type: circle;	padding-left: 5px;	margin-bottom: 10px;	margin-left: 15px; }
#contenido h3{ font-size: 16px; }
#contenido ul, #contenido ol {	padding-left: 20px; }
#contenido ol > li { list-style-type: decimal;	padding-left: 5px;	margin-bottom: 10px;	margin-left: 15px; }
#sidebar .block h2{  background: #db912f;  color: #fff;  font-size: 14px;  line-height: 20px;  padding: 10px 10px; margin: 0; }
#sidebar .block .item:hover a{ opacity: 0.6; }
#sidebar .block .item.activo a{ color: #db912f }
#sidebar .block .item.activo{ background: #e7f3e3; }

a:hover{ opacity: 0.8 !important; }

section#principal img, #sidebar img{ max-width:100%;min-height: 150px;}

#contenido table{ max-width: 100%; margin: 20px 0 30px; display: table; }
#contenido table th, #contenido table td{ border: solid thin #239e2d; padding: 10px;  }
#contenido table th{ background: #239e2d; color: #fff; font-weight: bold; border: solid thin #fff;  }
#contenido table thead th, #contenido table tfoot th{ background: #239e2d; color: #fff; font-weight: bold; border: solid thin #fff; border-top: solid thin #239e2d; border-bottom: solid thin #239e2d; }
#contenido table thead th:first-child, #contenido table tfoot th:first-child{ border-left: solid thin #239e2d; }
#contenido table thead th:last-child, #contenido table tfoot th:last-child{ border-right: solid thin #239e2d; }

table, table.table-responsive{ display: table; }
table td, table th{ display: table-cell !important; }
table thead, table tbody{ width: 100% !important; }
table tr{ display: table-row !important; width: 100% !important; }
table, #contenido table { display: table !important; }

#noticias-row .allmode-title{ padding: 10px 0;}
#noticias-row .allmode-title a{ color: #575756;font-weight: bold;}

/*#footer-right{ float: right; }*/
/*#footer-right #logo-footer, #footer-right #logo-zonacardio{ float: left; }*/
#footer-right #logo-zonacardio img{ margin-bottom:5px; }
/*#footer-right .redes-sociales{ float: left; }*/
/*#footer #menu-footer, #footer .menu-footer { float: left; }*/

.btn-buscar {
	height: 20px;
	vertical-align: middle;
	background: #221c35;
	color: white;
	font-size: 10px;
	margin: auto;
	width: 50px;
	line-height: 1px;
}
.cita-previa-cont {
    float: left;
}